<div class="nav-menu-btn-container nav-menu-btn-container-dark nav-menu-btn-container-top-dark">
    <a class="nav-menu-toggle-btn" (click)="toggleSideNavigationFn()">
        <i class="hpe-icon hpe-menu"></i>
    </a>
</div>

<nav class="navbar-static-side-container navbar-static-side-container-dark" ngClass="sidecontainer">
    <div class="navbar-default navbar-static-side navbar-static-side-dark" role="navigation">
        <ul class="nav" id="side-menu">
            <li class="nav-header nav-header-dark">
                <a class="logo-element-container" href="">
                    <div class="logo-element-image"></div>
                    <p class="logo-element-text">UX Aspects</p>
                </a>
            </li>

            <li routerLinkActive="active selected">
                <a>
                    <i class="hpe-icon hpe-clone"></i>
                    <span class="nav-label">Samples</span> <span class="hpe-icon hpe-collapse arrow"></span>
                </a>
                <ul routerLinkActive="in" class="nav nav-second-level">
                    <li routerLinkActive="active">
                        <a routerLink="samples/sample">Sample 1</a>
                    </li>
                </ul>
            </li>

        </ul>
    </div>
</nav>